<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Выбор фильма</title>
</head>
<body>
	
	<form action="http://127.0.0.1:8000" method="get">
	  <button>На главную</button>
	</form>

	<form action="http://127.0.0.1:8000/select/film/" method="post">
		{% csrf_token %}
	  	<p>Название:<input type="text" name="name"></p>
		<p><input type="submit" value="Найти"></p>
	</form>
	<a href="http://127.0.0.1:8000/add/film/">Добавить фильм</a>
	<table>
		<tr>
			<th>Название</th>
			<th>Описание</th>
		</tr>
		{% for i in selected %}
	    <tr>
	   		<td> <a href="http://127.0.0.1:8000/film/{{ i.pk }}"> {{ i.name }}</a></td> 
	   		<td>{{i.about}}</td>
		</tr>
		{% endfor %}
	</table>


</body>
</html>